body {
    background-color: hwb(314 17% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  .bubble {
    background-color: hsl(293, 100%, 50%);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 10px #fff;
    font-style: italic;
  }
  .heart {
    position: absolute;
    width: 30px;
    height: 20px;
    font-size: 20px;
    text-shadow: 0 0 10px #fff;
    animation: fall 1s ease-in-out infinite;
  }
  #message {
    display: none;
    font-size: 72px;
    font-style: italic;
    text-shadow: 0 0 10px #fff;
  }
  @keyframes fall {
    0% {
      transform: translateY(-100%) rotate(0deg);
    }
    20% {
      transform: translateY(100%) rotate(-20deg);
    }
    40% {
      transform: translateY(100%) rotate(20deg);
    }
    60% {
      transform: translateY(100%) rotate(-20deg);
    }
    80% {
      transform: translateY(100%) rotate(20deg);
    }
    100% {
      transform: translateY(100%) rotate(0deg);
    }
  }